<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>457180030471-34agr7gl7smjro952sj93lkf0cghc3n5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.457180030471-34agr7gl7smjro952sj93lkf0cghc3n5</string>
	<key>API_KEY</key>
	<string>AIzaSyDZKnHvz75FTU0Ef3DBoKWmszgFy_gVar0</string>
	<key>GCM_SENDER_ID</key>
	<string>457180030471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.offcampus</string>
	<key>PROJECT_ID</key>
	<string>off-campus-556ba</string>
	<key>STORAGE_BUCKET</key>
	<string>off-campus-556ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457180030471:ios:fbbde20e662c8f0ce66ca2</string>
	<key>DATABASE_URL</key>
	<string>https://off-campus-556ba.firebaseio.com</string>
</dict>
</plist>